# Xcode
#
# Swift-specific
.build/
.swiftpm/
Packages/
*.xcodeproj
xcuserdata/
*.xcworkspace
DerivedData/
*.swiftmodule
*.swiftdoc

# General
.DS_Store
*.backup
*.db
*.local
*.log
*.profraw
*.profdata
*.out
*.tmp
*~

# Files
/VoiceInk/Services/KeyFetcher.swift 